.sidebar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    &__title {
      margin-bottom: 40px;
      font-size: 24px;
      //text-align: center;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &__item {
        padding: 15px;
        //background-color: #fff;
        border-radius: 5px;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: 0.3s;
        &__icon {
          font-size: 18px;
        }
        &:hover {
          background-color: #fff;
          color: #000;
          transition: 0.3s;
        }
        &__active {
          background-color: #fff;
          color: #000;
          transition: 0.3s;
        }
      }
    }
  }
  &__bottom {
    &__button {
      width: 100%;
    }
  }
}
